$head_image: url(../img/m-h-night.jpg);
$font_style_blok: 'Fresca';
$color_body: #21232e;
$color_font: white;
$color_button: #e3ac00;
$color_background: #ff4e33;
$color_footer_card: #3b3f50; 
$color_gradient: linear-gradient(to right, #e1a902, #932c52);