$head_image: url(../img/m-h-day.jpg);
$font_style_blok: 'Hind';
$color_body: white;
$color_font: #2c2f3c;
$color_button: #699900;
$color_background: #14a0c7;
$color_footer_card: #21232e; 
$color_gradient: linear-gradient(to right, #689802, #2c5add);